html
    head
        title
        link(rel="stylesheet", type="text/css", href="")
    body
        form(method="post",action="auth/login")
            label(for="username")= mdl.conf.msg.username
            input(type="text",name="username",id="username")
            label(for="password")= mdl.conf.msg.password
            input(type="password",name="password",id="password")
            button= mdl.conf.msg.connection
