html
    head
        title
        link(rel="stylesheet", type="text/css", href= req.origin + "/auth/css/style.css")
    body
        form(method="post",action="auth/login")
            fieldset
                legend= req.strs.login
                label(for="username")= req.strs.username
                input(type="text",name="username",id="username")
                label(for="password")= req.strs.password
                input(type="password",name="password",id="password")
                button= req.strs.login
